<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.mosalingua.plugin.BatchIntegration"
      version="0.1.0">
    <name>BatchIntegration</name>
    <description>Integration with Batch.com</description>
    <license>MIT</license>
    <keywords>phonegap,batch,push</keywords>


    <js-module src="www/batch-integration.js" name="BatchIntegration">
        <clobbers target="window.batch_integration" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BatchIntegration">
                <param name="android-package" value="com.mosalingua.plugin.BatchIntegration"/>
            </feature>
        </config-file>

        <source-file src="src/com/mosalingua/plugin/BatchIntegration.java" target-dir="src/com/mosalingua/BatchIntegration" />
     </platform>
</plugin>
