<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.mosa.plugin.BatchIntegration"
      version="0.1.0">
    <name>BatchIntegration</name>
    <description>Integration with Batch.com</description>
    <license>MIT</license>
    <keywords>phonegap,batch,push</keywords>


    <js-module src="www/batch-integration.js" name="BatchIntegration">
        <clobbers target="window.batch_integration" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BatchIntegration">
                <param name="android-package" value="com.mosa.plugin.BatchIntegration"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/mosa/plugin/BatchIntegration.java" target-dir="src/com/mosa/plugin" />
     </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BatchIntegration">
                <param name="ios-package" value="BatchIntegration" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/BatchIntegration.h" />
        <source-file src="src/ios/BatchIntegration.m" />
    </platform>
</plugin>
